<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link <link rel="shortcut icon" type="image/png" href="t.png">
	<title>Thiago Rezende de Oliveira</title>
	<script src="/src/components/script.js">
		if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
			document.documentElement.classList.add('dark');
		} else {
			document.documentElement.classList.remove('dark')
		}
	</script>
</head>
<body class="dark:bg-gray-900">

	<div class="pt-8 flex flex-col items-center pb-10">
		<button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
			<svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
			<svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
		</button>
	</div>

	<main id="main" class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
		<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
			<article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
				<header class="mb-4 lg:mb-6 not-format">
					<address class="flex items-center mb-6 not-italic">
						<div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
							<img class="mr-4 w-32 h-32 rounded-full" src="undraw_pic.png">
							<div>
								<a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Thiago Oliveira</a>
								<p class="text-base text-gray-500 dark:text-gray-400">Designer Gráfico, Estudante & Cientista da Computação</p>
								<p class="text-base text-gray-500 dark:text-gray-400"><time>22 anos</time></p>
							</div>
						</div>
					</address>
					<h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Sobre mim</h1>
				</header>
				<p class="mb-4 lead dark:text-white">Sou um estudante responsável, comunicativo que gosta de trabalhar em equipe. Bom com organização de dados,
				aprendo rápido, sempre gostei de estudar por conta própria e tenho uma paixão pelas areas de
				desenvolvimento tecnológico. Busco oportunidades para aplicar meu conhecimento em uma empresa de tecnologia ou administração.</p>
				<p class="mb-4 dark:text-white"><strong>Experiência</strong><br>
				- Minhas funções englobavam instruir alunos.<br>
				- Ensinar as disciplinas de matemática,física e química.<br>
				- Supervisionar os alunos e relatar seus resultados.</p>
				<p class="mb-4 dark:text-white"><strong>Formação</strong><br>
				2017/2019 - Ensino médio completo.<br>
				2021/2023 - Bacharelado em química na Universidade Federal Fluminense.<br>
				2024/2027 - Ciências da computção na Estácio de Sá.</p>			
			</article>  
		</div>
	</main>

	<section id="services" class="bg-white dark:bg-gray-900">
		<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
			<img class="w-full" src="undraw_devices.png">
			<div class="mt-4 md:mt-0">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Responsividade</h2>
				<p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Adapto seu site ou aplicação para que o layout fique adequado em qualquer qualquer tipo de tela.</p>
			</div>
		</div>
		<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
			<div class="mt-4 md:mt-0">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Manutenção</h2>
				<p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Atualizo seu site semanalmente de acordo com suas preferências, sempre otimizando o código para evitar qualquer tipo de problema.</p>
			</div>
			<img class="w-full ms-auto" src="undraw_maintenance.png">
		</div>
		<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
			<img class="w-full" src="undraw_personalization.png">
			<div class="mt-4 md:mt-0">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Personalização</h2>
				<p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Atendo por demanda para garantir a maior que o resultado final tenha sua personalidade. Além de garantir uma maior satisfação e velocidade.</p>
			</div>
		</div>
	</section>
  
	<aside id="works" aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
	<div class="px-4 mx-auto max-w-screen-xl">
		<h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Trabalhos</h2>
		<div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
			<article class="max-w-xs">
				<a href="#">
					<img src="b&e.jpeg" class="mb-5 rounded-lg" alt="Image 1">
				</a>
				<h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
					<a href="#">Beauthy & Esthetics</a>
				</h2>
				<p class="mb-4 text-gray-500 dark:text-gray-400">Site de vendas de serviços estéticos com tabelas de preço, endereço, pacotes promocionais, apresentação de serviços e do local.</p>
				<a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
					Disponivel no github
				</a>
			</article>
			<article class="max-w-xs">
				<a href="#">
					<img src="chili.png" class="mb-5 rounded-lg" alt="Image 2">
				</a>
				<h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
					<a href="#">Chili</a>
				</h2>
				<p class="mb-4  text-gray-500 dark:text-gray-400">Site para jogadores de RPG com login, registro ,card games, dados, mesas e guildas para serem criadas e personalizadas pelos usuários.</p>
				<a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
					Em progresso
				</a>
			</article>
			<article class="max-w-xs">
				<a href="#">
					<img src="dara.png" class="mb-5 rounded-lg" alt="Image 3">
				</a>
				<h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
					<a href="#">Dr. Dara Nobrega</a>
				</h2>
				<p class="mb-4  text-gray-500 dark:text-gray-400">Site para promover os serviços da cliente com suporte, depoimentos, apresentação e agendamento de consultas.</p>
				<a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
					Em progresso
				</a>
		</div>
	</div>
	</aside>

	<footer id="contacts" class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
		<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
			<div class="sm:flex sm:items-center sm:justify-between">
				<a class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
					<img src="social.png" class="h-16" />
					<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Contatos</span>
				</a>
				<ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
					<li>
						<img class="mr-2 w-6 h-6" src="whatsapp.png">
					</li>
					<li>
						<a href="https://wa.me/5521971570957" class="hover:underline me-4 md:me-6">WhatsApp</a>
					</li>
					<li>
						<img class="mr-2 w-6 h-6" src="instagram.png">
					</li>
					<li>
						<a href="https://www.instagram.com/thxxgx_rxzxndx/" class="hover:underline me-4 md:me-6">Instagram</a>
					</li>
					<li>
						<svg class="mr-2 w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
						</svg>
					</li>
					<li>
						<a href="https://github.com/KraunneR" class="hover:underline me-4 md:me-6">Github</a>
					</li>
					<li>
						<svg class="mr-2 w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
							<path d="M18.942 5.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.586 11.586 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3 17.392 17.392 0 0 0-2.868 11.662 15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.638 10.638 0 0 1-1.706-.83c.143-.106.283-.217.418-.331a11.664 11.664 0 0 0 10.118 0c.137.114.277.225.418.331-.544.328-1.116.606-1.71.832a12.58 12.58 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM8.678 14.813a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.929 1.929 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
						</svg>						  
					</li>
					<li>
						<a href="https://discord.gg/GnnEF2PFvj" class="hover:underline">Discord</a>
					</li>
				</ul>
			</div>
			<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
			<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">thiagolive.dev@outlook.com</span>
		</div>
	</footer>

</body>
</html>
